.header{
    &__wrapper{
        height: 83px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }
}

.logo {
    text-shadow: 4px 2px 4px rgba(150, 150, 150, 1);
    font-size: 28px;
    font-weight: 600;
}
.menu__list {
    display: flex;
    justify-content: space-between;
}
.menu__item {
    font-size: 18px;
    padding: 0 15px;
    transition: 0.3s text-shadow;
    &:hover{
        text-shadow: 4px 2px 4px rgba(150, 150, 150, 1);
        transition: 0.3s text-shadow;
    }

}
.user-bar {
}