.title{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;

    &__descr{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
}